<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <p>Here are a few of our partner organizations:</p>
        <ul class="organization-list">
            <% organizations.forEach(organization => { %>
                <li class="organization-card">
                    <img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %> logo"> 
                    <a href="/organization/<%= organization.organization_id %>">
                      <strong><%= organization.name %></strong>  
                    </a>
                     <%= organization.contact_email %>
                
                </li>
                

            <% }) %>    
           <!-- <li><img src="/images/brightfuture-logo.png" alt="BrightFuture Builders logo"><strong>BrightFuture
                    Builders</strong>: info@brightfuture.org</li>
            <li><img src="/images/greenharvest-logo.png" alt="GreenHarvest Growers logo"><strong>GreenHarvest Growers</strong>:
                contact@greenharvest.org</li>
            <li><img src="/images/unityserve-logo.png" alt="UnityServe Volunteers logo"><strong>UnityServe Volunteers</strong>:
                hello@unityserve.org</li> -->
        </ul>
    </main>
<%- include('partials/footer') %>
