<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>

        <ul class="project-list">
            <% projects.forEach(project=> { %>
                <li class="project-card">
                    <!-- Link to Project Details Page -->
                    <a href="/project/<%= project.project_id %>">
                        <strong>
                            <%= project.title %>
                        </strong>
                    </a>

                    <!-- Link to Organization Details Page -->
                    (<a href="/organization/<%= project.organization_id %>">
                        <%= project.organization_name %>
                    </a>)
                </li>
                <% }) %>
        </ul>
    </main>
    <%- include('partials/footer') %>
